{% extends "base.html" %}
{% load static %}


{% block content %}

<head>
	<!-- STYLE CSS -->
	<link rel="stylesheet" href="{% static 'css/style-SignUp.css' %}">
</head>

<body>
	<div class="wrapper BG-Blue h-auto p-4">
		<form action="" id="wizard">

			<!-- AccountInfo -->
			<h2></h2>
			<section>
				<!-- row-->
				<div class="inner">
					<!-- Column 1 -->
					<div class="form-content w-75 pb-5">
						<!-- Title -->
						<div class="">
							<h3 class="border-0 mb-2 text-start p-0">Account Info</h3>
							<h5><small>We are so glad you’re here! Now let’s get your free
									account set up so you can get going.</small> </h5>
						</div><br><br>
						<!-- Personal Info -->

						<div class="form-row">
							<div class="form-holder">
								<input type="text" placeholder="First Name" class="form-control">
							</div>
							<div class="form-holder">
								<input type="text" placeholder="Last Name" class="form-control">
							</div>
						</div>
						<div class="form-row">
							<div class="form-holder">
								<input type="text" placeholder="Your Email" class="form-control">
							</div>
							<div class="form-holder">
								<input type="text" placeholder="Phone Number" class="form-control">
							</div>
						</div>
						<button class="Btn-Primary">Update</button>

						<!-- Edit Login Info -->
						<div class="mt-5">
							<h5 class="text-black">Edit Login Info</h5>
						</div><br>
						<div class="form-row">
							<div class="form-holder">
								<input type="text" placeholder="Your Email" class="form-control">
							</div>
							<div class="form-holder">
								<input type="text" placeholder="Password" class="form-control">
								<p class="text-start mb-0"><small>6 characters minimum</small></p>
							</div>
						</div>
						<!-- Checkbox -->
						<div class="form-check mb-3">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
							<label class="form-check-label" for="flexCheckDefault">I have read and accept Wahine’s
								Privacy
								Policy and Membership Agreement</label>
						</div>
						<button class="Btn-Primary">Update</button>


						<!-- Your Membership -->
						<div class="mt-5">
							<h5 class="text-black">Your Membership</h5>
						</div><br>
						<div class="mb-3">
							<h6 class="text-danger">Tier 1</h6><br>
							<h6 class="Color-Primary">Active </h6>
							<h6>Next Billing On 12th July 2023</h6>
						</div>
						<button class="Btn-Primary">Next</button>
					</div>






					<!-- Column 2 -->
					<div class="BG-Gray w-50" style="padding:65px 51px 0px 51px;#">
						<div class="col-3 Color-Primary "><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60"
								fill="currentColor" class="bi bi-chat-heart" viewBox="0 0 16 16">
								<path fill-rule="evenodd"
									d="M2.965 12.695a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2Zm-.8 3.108.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125ZM8 5.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
							</svg></div><br>
						<div class="col-9 Color-Primary">
							<h5 class="fw-bold">Welcome, Regina</h5>
							<p class="text-start Color-Primary"><small> Fill in your personal information to get
									started. This is
									where
									you manage
									your account.</small></p>

						</div>
					</div>
				</div>

		</form>
	</div>

	<!-- Template created and distributed by Colorlib -->

</body>
{% endblock %}