{% extends "base.html" %}
{% load static %}


{% block content %}

<head>
	<!-- STYLE CSS -->
	<link rel="stylesheet" href="{% static 'css/style-SignUp.css' %}">
	<!-- Steps CSS and JS -->
	<link rel="stylesheet" href="{% static 'css/steps.css' %}">
</head>

<body>
	<div class="wrapper bg-white pb-5">
		<form action="" id="wizard" class="Assets">
			<!-- SECTION 1 -->
			<h2></h2>
			<section>
				<div class="m-auto">
					<!-- Column 1 -->
					<div class="form-content w-100 pb-5 mx-auto">
						<div class="form-header">

							<h2 class="mb-1 Color-Secondary">Liabilities</h2>
							<p>Please fill the form below to record your personal liabilities information. Feel free to
								add
								as much detail as needed. </p>
						</div>



						<!-- Left Column Inner Column -->
						<div class="inner pb-5">

							<div class="form-content w-100 pb-3">


								<!-- Vehicles -->
								<DIV class="mb-5">
									<h4 class="text-black">Credit Card Details</h4>
									<p class="text-start">Fill in your credit card information.</p><br>
									<!-- Information -->
									<!-- Core Investment #1 -->
									<div>
										<div class="form-row">
											<h5 class="text-black">Do You Have A Credit Card?</h5><br>
										</div>
										<div class="form-row Btn-Radio mb-5">
											<div class="col-lg-6 col-6">
												<input type="radio" id="control_01" name="yesno" value="1" checked>
												<label for="control_01">
													<h6>Yes</h6>
												</label>
											</div>
											<div class="mx-2 col-lg-6 col-6">
												<input type="radio" id="control_02" name="yesno" value="2">
												<label for="control_02">
													<h6>No</h6>
												</label>
											</div>
										</div>
										<div class="form-row">
											<h5 class="text-black">Do You Use BNPL Service?</h5><br>
										</div>
										<div class="form-row Btn-Radio mb-5">
											<div class="col-lg-6 col-6">
												<input type="radio" id="control_01" name="yesno" value="1" checked>
												<label for="control_01">
													<h6>Yes</h6>
												</label>
											</div>
											<div class="mx-2 col-lg-6 col-6">
												<input type="radio" id="control_02" name="yesno" value="2">
												<label for="control_02">
													<h6>No</h6>
												</label>
											</div>
										</div>


										<div
											class="form-row Btn-Radio mt-5 flex-row flex-wrap flex-lg-nowrap text-black">
											<div class="col-12 col-lg-6 mb-5 mb-lg-5">
												<h5>How Many Credit Cards Do You Have?</h5><br>
												<select name="NumOfCreditCard" id="NumOfCreditCard" class="px-4">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
												</select>
											</div>

										</div>
										<br>
										<br>
										<!--Credit Card #1 -->
										<div>
											<h5 class="text-black">Credit Card #1</h5>
											<br>
											<br>

											<div class="form-row Btn-Radio flex-row flex-wrap flex-lg-nowrap">
												<div class="mb-5 mb-lg-0 col-lg-6 col-12">
													<h5>Bank Name</h5><br>
													<select name="BankName" id="BankName" class="px-4">
														<option value="SelectABank">Select A Bank</option>
														<option value="Maybank">Maybank</option>
														<option value="RHB">RHB</option>
														<option value="CIMB">CIMB</option>
														<option value="CitiBank">Citibank</option>
													</select>
												</div>
												<div class="mx-1 mt-5 mt-lg-0 col-lg-6 col-12">
													<h5>Account Number (*Optional)</h5><br>
													<input type="text" name="AccountNumber" id="" placeholder="Name"
														class="px-4">
												</div>
											</div><br><br><br>
											<div class="form-row Btn-Radio">
												<div class="mx-1 col-lg-6 col-12">
													<h5>Amount Outstanding</h5><br>
													<input type="text" name="AmountOutstanding" id=""
														placeholder="RM3,000" class="px-4">
												</div>
											</div>
											<br>
											<br>
											<br>
											<!-- Billing Cycle Toggle -->
											<div class="text-center ">
												<div class="form-check form-switch flex-row d-flex align-items-center">
													<input class="form-check-input" type="checkbox" checked
														id="flexSwitchCheckDefault">
													<label class="form-check-label ms-2"
														for="flexSwitchCheckDefault">Add More
														Card</label>

												</div>
											</div>
										</div>
										<br>
										<br>
										<br>
										<!--Credit Card #2 -->
										<div>
											<h5 class="text-black">Credit Card #2</h5>
											<br>
											<br>

											<div class="form-row Btn-Radio flex-row flex-wrap flex-lg-nowrap">
												<div class="mb-5 mb-lg-0 col-lg-6 col-12">
													<h5>Bank Name</h5><br>
													<select name="BankName" id="BankName" class="px-4">
														<option value="SelectABank">Select A Bank</option>
														<option value="Maybank">Maybank</option>
														<option value="RHB">RHB</option>
														<option value="CIMB">CIMB</option>
														<option value="CitiBank">Citibank</option>
													</select>
												</div>
												<div class="mx-1 mt-5 mt-lg-0 col-lg-6 col-12">
													<h5>Account Number (*Optional)</h5><br>
													<input type="text" name="NomineeDetails" id="" placeholder="Name"
														class="px-4">
												</div>
											</div><br><br><br>
											<div class="form-row Btn-Radio">
												<div class="mx-1 col-lg-6 col-12">
													<h5>Amount Outstanding</h5><br>
													<input type="text" name="AmountOutstanding" id=""
														placeholder="RM3,000" class="px-4">
												</div>
											</div>
											<br>
											<br>
											<br>
											<!-- Billing Cycle Toggle -->
											<div class="text-center ">
												<div class="form-check form-switch flex-row d-flex align-items-center">
													<input class="form-check-input" type="checkbox"
														id="flexSwitchCheckDefault">
													<label class="form-check-label ms-2"
														for="flexSwitchCheckDefault">Add More
														Card</label>

												</div>
											</div>
										</div>
									</div>

								</DIV>




								<!-- Button -->
								<div class="mt-5">


									<a class="btn Btn-Primary mt-5 float-end" href="/liabilities-2-personalloan"
										role="button">Save</a>
								</div>
							</div>

						</div>

					</div>


			</section>



		</form>
	</div>
	<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


</body>
{% endblock %}